#root{
    background: #fff;
}
a{
    text-decoration: none;
    color: #0CCECE;
}
.one{
    width: 100vw;
    height: 100vh;
    background: url("../assets/img/one.jpg") no-repeat;
    background-size:cover ;
    overflow: hidden;
}
.two{
    width: 100vw;
    height: 100vh;
    background: url("../assets/img/two.jpg") no-repeat;
    background-size:cover ;
    overflow: hidden;
}
.three{
    width: 100vw;
    height: 100vh;
    background: url("../assets/img/three.jpg") no-repeat;
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
}
.go-login{
    width: 50vw;
    height: 0.35rem;
    background: #0CCECE;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.35rem;
    font-size: 0.18rem;
}
.Welcome{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.4rem 0;
}
.Four{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: #eee;
    overflow: hidden;
}
.login-footer .login-footer-icon{
   display: flex;
    justify-content: space-around;
}
.login-footer .login-footer-privacy{
    display: flex;
    justify-content: center;
    padding-top: 0.2rem;
}
.login-footer .icon{
    width: 0.35rem;
    height: 0.35rem;
}
.iconphone{
    fill: orange;
}
.login-header h1{
     font-size: 0.24rem;
     display: flex;
     justify-content: center;
    padding-bottom: 0.2rem;
 }
.login-header p{
    display: flex;
    justify-content: center;
}
.a-header {
    width: 100vw;
    height: 0.5rem;
    background-color: #0CCECE;
    font-size: 0;
    display: flex;
    position: fixed;
}
.a-header .icon{
    width: 0.3rem;
    height: 0.2rem;
    margin-top: 0.14rem;
    margin-left: 0.1rem;
}
.a-header h3{
    color: white;
    font-size: 0.18rem;
    margin-left: 1rem;
    margin-top: 0.15rem;
}
.a-content{
    width: 3.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    text-align: center;
    margin: 0 auto;
}
.a-content p{
    font-size: 0.14rem;
    margin-top: 0.04rem;
}
.a-content input{
    outline: none;
    border: 0;
    text-align: left;
    /*margin-left:0.1rem;*/
    padding: 0.1rem 0;
    vertical-align: middle;
    width: 2rem;
}
.go-register{
    display: flex;
    justify-content: space-between;
}
.forgetPass{
    text-align: left;
    padding: 0.1rem 0.25rem;
    font-size: 0.14rem;
}
.a-content button{
    border: 0;
    padding: 0.1rem 0;
    background: #0CCECE;
    border-radius: 0.5rem;
    margin: 0.3rem 0.1rem;
    width: 3rem;
    font-size: 0.18rem;
    color: #fff;
    outline: none;
}
.a-content .icon{
    width: 0.25rem;
    height: 0.25rem;
    fill: #ccc;
    vertical-align: middle;
    margin: 0.06rem 0.1rem;
}
.pass-code{
    display: flex;
    width: 0.65rem;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.14rem;
    color: #0CCECE;
}
.pass-timer{
    display: flex;
    width: 0.9rem;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.14rem;
    color: #0CCECE;
}
.a-content .my-label1{
    justify-content: flex-start;
}
.a-content label{
    width: 3rem;
    padding: .05rem;
    border: .005rem solid #ccc;
    margin: .14rem .1rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.swiper-slide{
    height:1px;
    overflow: hidden;
}
.swiper-slide-active {
    height:auto;
    overflow: hidden;
}
